# Port number for Express server
PORT=5000

# MongoDB Atlas connection string or local MongoDB URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/expense-tracker?retryWrites=true&w=majority

# Run mode (development, production)
NODE_ENV=development
